/* This is just for page & generic styling */
body{
    background-color: hsl(0, 0%, 98%);
    padding:0; margin:0;

    transition: all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
    width:100vw; height:100vh;
    min-width: 600pt;

    overflow: hidden;
} .side-opened{
    margin-left: 240pt;
    width:calc(100vw - 240pt);
}

#side-menu{
    background-color: hsl(0, 0%, 96%);
    $border-col: hsl(0,0%,75%);
    border-right: 1px solid $border-col;
    display: flex; flex-direction: column; align-items: center;
    transition: background-color 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */

    #title{
        width: 100%;
        height: 55pt; min-height:55pt;
    }
    .subtitle{
        width: 80%;
        padding: 3pt 10pt 3pt 10pt;
        margin: 20pt 0 0 0;
        text-align: left;
    }

    .items{
        width: 80%;
        padding: 3pt 10pt 3pt 10pt;
        margin: 4pt 0 0 0;
        border-radius: 6pt;
        text-align: left;
        font-size: 1.1rem;
        color:hsl(0,0,40%)
    }
}
#side-menu-btn, #dark-mode-btn{
    &:active{
        filter: brightness(0.75);
    }
}
#side-menu-label{
    color:hsl(0, 0, 65%);
    opacity: 1;
}

hr{
    margin: 1.5rem 0 1.5rem 0;
    height: 2px;
    background-color: #d2d2d2;
    border:none;

    transition: background-color 300ms;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-icon{
    width: 5rem; height:5rem;
    border-radius: 1.3rem;
    border:none;

    margin: 0 0 1rem 0;
    box-shadow: 0 0 2rem hsla(0, 0%, 0%, 0.122);
    background-color: hsl(0, 0%, 99%);

    background-position: center;
    background-repeat: no-repeat;
    
    transition: background-color 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
}

input{
    box-shadow: 0 0 2rem #00000009;
    height:1.75rem; width:100%;
    padding: 0;
    overflow: visible;
    border-radius: 0.5rem;
    border: 1px solid hsl(0, 0%, 82%);
    background-color: hsla(0, 0%, 0%, 0.031);
    font-size: 1rem;

    transition-property: outline-offset, outline;
    transition: 200ms cubic-bezier(0.295, 0.015, 0.040, 1.000);
    outline-offset: 50pt;
} input:focus{
    outline:2pt solid hsl(30, 100%, 50%);
    outline-offset: 2pt;
}

.input-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-box p{
    opacity: 0.5;
    font-size: 1rem;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    left:50%;
    transform: translateX(-50%);

    transition: all 400ms cubic-bezier(0.295, 0.015, 0.040, 1.000),
                opacity 200ms cubic-bezier(0.295, 0.015, 0.040, 1.000);
    
}
.input-ele{
    padding: 0 0 0 0.5rem;
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
}
.input-ele:focus ~ p{
    transform: translateX(0);
    left:0.75rem
}
.input-ele:not(:placeholder-shown) ~ p{
    opacity: 0;
}

// DARK MODE
.dark-mode{
    background-color: hsl(240, 6%, 10%);
    
    #side-menu{
        background-color: hsl(240, 6%, 8.5%);
        $border-col: hsl(240, 6%, 20%);
        border-right: 1px solid $border-col;
        
        .items{
            color:hsl(0,0,70%)
        }
    }
    #dark-mode-btn{
        filter: contrast(1) brightness(1);
    }

    hr{
        background-color: hsl(0, 0%, 100%, 15%);
    }

    .app-icon{
        border:none;
        box-shadow: none;
        background-color: hsl(240, 6%, 17%);
    }


    input{
        box-shadow: none;
        border: 1px solid hsl(240, 6%, 30%);
        background-color: hsl(240, 6%, 15%);
        color:hsl(240,6%,95%)
    } input:focus{
        outline:2pt solid hsla(30, 100%, 50%, 50%);
        outline-offset: 2pt;
    }
    
    .input-box p{
        opacity:1;
        color:hsl(240, 6%, 100%, 40%);
    }
    .input-ele{
        padding: 0 0 0 0.5rem;
        font-family: "Plus Jakarta Sans";
        font-weight: 600;
    }
    .input-ele:focus ~ p{
        transform: translateX(0);
        left:0.75rem
    }
    .input-ele:not(:placeholder-shown) ~ p{
        opacity: 0;
    }

    #side-menu-label{
        color:hsl(0,0,80%);
    }
}